# Create z-score files for CREDIT

In [1]:
import os
import yaml
import numpy as np
import xarray as xr

## File creation

### 6 hourly mean std files

In [2]:
# get variable information from data_preprocessing/config
config_name = os.path.realpath('data_config_6h.yml')

with open(config_name, 'r') as stream:
    conf = yaml.safe_load(stream)

In [3]:
N_levels = 16
base_dir = '/glade/derecho/scratch/ksha/CREDIT_data/ERA5_mlevel_1deg_stage1/'

In [4]:
# get variable names
varnames = list(conf['zscore'].keys())
varnames = varnames[:-3] # remove save_loc and others

varname_surf = list(set(varnames) - set(['U', 'V', 'T', 'Q']))
varname_upper = ['U', 'V', 'T', 'Q']

# collect computed mean and variance values
# See "qsub_STEP01_compute_mean_std.ipynb"
MEAN_values = {}
STD_values = {}

for varname in varname_surf:
    save_name = conf['zscore']['save_loc'] + '{}_mean_std_{}.npy'.format(conf['zscore']['prefix'], varname)
    mean_std = np.load(save_name)
    MEAN_values[varname] = mean_std[0]
    STD_values[varname] = mean_std[1]

for varname in varname_upper:

    # -------------------------------------------- #
    # allocate all levels
    mean_std_all_levels = np.empty((2, N_levels))
    mean_std_all_levels[...] = np.nan
    
    for i_level in range(N_levels):
        save_name = conf['zscore']['save_loc'] + '{}_level{}_mean_std_{}.npy'.format(
            conf['zscore']['prefix'], i_level, varname)
        mean_std = np.load(save_name)
        mean_std_all_levels[:, i_level] = mean_std

    # -------------------------------------------- #
    # save
    MEAN_values[varname] = np.copy(mean_std_all_levels[0, :])
    STD_values[varname] = np.copy(mean_std_all_levels[1, :])

In [5]:
ds_example = xr.open_zarr(base_dir+'all_in_one/ERA5_mlevel_1deg_6h_lev16_1979.zarr')

In [6]:
# ------------------------------------------------------- #
# create xr.DataArray for mean

# Initialize level coord
level = np.array(ds_example['level'])

# Initialize dataset
ds_mean_6h = xr.Dataset(coords={"level": level})

for varname, data in MEAN_values.items():
    if len(data.shape) == 1:
        data_array = xr.DataArray(
            data,
            dims=["level",],
            coords={"level": level},
            name=varname,
        )
        ds_mean_6h[varname] = data_array
    else:
        data_array = xr.DataArray(
            data,
            name=varname,
        )
        ds_mean_6h[varname] = data_array

In [7]:
# ------------------------------------------------------- #
# create xr.DataArray for std

# use the same level coord as mean
ds_std_6h = xr.Dataset(coords={"level": level})

for varname, data in STD_values.items():
    data = np.sqrt(data)
    if len(data.shape) == 1:
        data_array = xr.DataArray(
            data,
            dims=["level",],
            coords={"level": level},
            name=varname,
        )
        ds_std_6h[varname] = data_array
    else:
        data_array = xr.DataArray(
            data,
            name=varname,
        )
        ds_std_6h[varname] = data_array

In [8]:
# ------------------------------------------------------- #
# Same to netCDF
ds_mean_6h.to_netcdf(base_dir+'mean_std/mean_6h_1979_2018_1deg.nc')
ds_std_6h.to_netcdf(base_dir+'mean_std/std_6h_1979_2018_1deg.nc')

In [9]:
    # mean_path: '/glade/derecho/scratch/ksha/CREDIT_data/mean_6h_1979_2018_16lev_0.25deg.nc'
    # # regular z-score version
    # # std_path: '/glade/derecho/scratch/ksha/CREDIT_data/std_6h_1979_2018_16lev_0.25deg.nc'
    # # residual norm version
    # std_path: '/glade/derecho/scratch/ksha/CREDIT_data/std_residual_6h_1979_2018_16lev_0.25deg.nc'

In [12]:
base_dir+'mean_std/std_6h_1979_2018_1deg.nc'

'/glade/derecho/scratch/ksha/CREDIT_data/ERA5_mlevel_1deg_stage1/mean_std/std_6h_1979_2018_1deg.nc'

In [10]:
# ------------------------------------------------------- #
# Compare with my old ones
STD_conserve = xr.open_dataset(base_dir+'mean_std/std_6h_1979_2018_1deg.nc')
STD_bilinear = xr.open_dataset('/glade/derecho/scratch/ksha/CREDIT_data/std_6h_1979_2018_16lev_0.25deg.nc')

for varname in varnames:
    print('=============== {} ================='.format(varname))
    print(np.array(STD_conserve[varname]))
    print(np.array(STD_bilinear[varname]))

=============== Q =================
[2.88366821e-07 3.43996775e-07 3.02545878e-07 3.72776741e-07
 5.62630432e-07 6.33140064e-06 8.56978283e-05 4.79411907e-04
 9.42083743e-04 1.63327822e-03 2.36612487e-03 3.28568142e-03
 4.89955869e-03 5.80935251e-03 5.94272198e-03 6.00623108e-03]
[2.86539110e-07 3.43501184e-07 3.00897636e-07 3.70370665e-07
 5.65687055e-07 6.40576319e-06 8.72308306e-05 4.86562781e-04
 9.55834282e-04 1.65400575e-03 2.39454699e-03 3.32212385e-03
 4.92020484e-03 5.82008968e-03 5.95355206e-03 6.01718454e-03]
=============== Q500 =================
0.0010675011022210237
0.0010784555247599808
=============== SP =================
9597.773243269761
9564.08828465833
=============== T =================
[ 8.30371089 12.61047024 10.80722619 10.56573898 12.62041742  8.19765517
  9.11070813 13.61353943 14.4098643  14.81314237 15.34843726 15.87551619
 17.0509786  19.29923236 20.81507832 21.09224943]
[ 8.28246086 12.54296629 10.73224169 10.51179137 12.60151149  8.16516086
  9.08780623 13.56959089 14.35413281 14.74749461 15.27688361 15.80104057
 16.96383509 19.17538034 20.68054418 20.958301  ]
=============== T500 =================
13.100036159941702
13.06274013468683
=============== U =================
[40.1117633  25.21290485 19.65990212 14.44563334 13.45606751 16.55052066
 17.8198068  14.48332141 12.39289934 10.61363321  9.35083769  8.57135957
  8.23839105  7.44624854  6.04124865  5.44103026]
[40.21485329 25.27922629 19.71381648 14.48358737 13.48588523 16.58891951
 17.88966184 14.56381561 12.46334059 10.6776952   9.41726967  8.64687776
  8.33099297  7.54898916  6.12810154  5.51947415]
=============== U500 =================
11.93343125267079
11.983191089137282
=============== V =================
[14.12412012 10.70084445  8.34228621  6.90249197  7.41823295 10.12232381
 13.38079184 11.36900617  9.57934538  8.09621879  7.08934928  6.53337538
  6.70697153  6.52715225  5.21487898  4.65894061]
[14.10785166 10.69972115  8.34700692  6.91838006  7.45253687 10.17627158
 13.45741855 11.4414309   9.64035721  8.15036388  7.14415171  6.5955258
  6.78472338  6.61929494  5.2975703   4.73462807]
=============== V500 =================
9.14178166998031
9.180869185138992
=============== Z500 =================
3362.276726822815
3354.02515765491
=============== t2m =================
21.382492356035307
21.234846578163697
=============== tsi =================
7716315.96665566
7711902.973059106